<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
    <!--Add review form here -->
    <div class="container mt-5">
        <h2>Add a Review</h2>
        <form method="post" action="{% url 'djangoapp:add_review' dealer.dealer_id%}" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="dealership">Dealership ID:</label>
                <input type="number" class="form-control" id="dealership" name="dealership" required>
            </div>
            <div class="form-group">
                <label for="review">Review:</label>
                <textarea class="form-control" id="review" name="review" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label for="purchase">Purchase:</label>
                <input type="text" class="form-control" id="purchase" name="purchase" required>
            </div>
            <div class="form-group">
                <label for="purchase_date">Purchase Date:</label>
                <input type="text" class="form-control" id="purchase_date" name="purchase_date" required>
            </div>
            <div class="form-group">
                <label for="car_make">Car Make:</label>
                <input type="text" class="form-control" id="car_make" name="car_make" required>
            </div>
            <div class="form-group">
                <label for="car_model">Car Model:</label>
                <input type="text" class="form-control" id="car_model" name="car_model" required>
            </div>
            <div class="form-group">
                <label for="car_year">Car Year:</label>
                <input type="number" class="form-control" id="car_year" name="car_year" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit Review</button>
        </form>
    </div>
    </body>
</html>
