<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Dealership Review</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link">Welcome, {{ user.first_name|default:user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:custom_logout' %}">Sign Out</a>
                {% else %}
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" action="{% url 'djangoapp:custom_login' %}" method="post">
                        {% csrf_token %}
                        <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username" name="username">
                        <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password" name="password">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:custom_logout' %}">Logout</a>
                </li>
                    </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:custom_signup' %}">Sign Up</a>
                </li>
                {% endif %}
                </ul>
            </div>
        </nav>
        
        <div class="container">
            <h2>Dealer Reviews</h2>
            <div class="row">
                {% for review in reviews %}
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-left" src="{% static 'emoji/'|add:review.sentiment|add:'.png' %}" alt="Sentiment Emoji">
                        <div class="card-body">
                            <h5 class="card-title">{{ review.car_make }} {{ review.car_model }} ({{ review.car_year }})</h5>
                            <p class="card-text"><strong>Review ID:</strong> {{ review.review_id }}</p>
                            <p class="card-text"><strong>Purchase:</strong> {{ review.purchase }}</p>
                            <p class="card-text"><strong>Purchase Date:</strong> {{ review.purchase_date }}</p>
                            <p class="card-text"><strong>Dealer ID:</strong> {{ review.dealer_id }}</p>
                            <p class="card-text"><strong>Review Content:</strong> {{ review.review }}</p>
                            <p class="card-text"><strong>Sentiment:</strong> {{ review.sentiment }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if reviews|length == 0 %}
                <div class="col-md-12">
                    <p>No reviews available.</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'djangoapp:add_review' dealer_id=dealer_id %}" class="btn btn-primary">Add Review</a>
        </div>

    <!--Add a nav bar here -->

    <!-- Add reviews as cards -->

    </body>

</html>
